<style>
.content1 {margin: 10px auto; width: 900px; }
.float-left1 {float: left; width: 250px; }
.divide {float: left;width: 20px;}
.float-left2 {float: left; width: 600px; }
.label1 {display: inline-block; float:left;width: 200px; }
.label2 {display: inline-block; float:left;width: 200px; }
.twitter {clear: both;width: 1px; height: 40px;}
</style>
<script>
$( document ).ready(function() {
  $('#account_email').change(function () {
    var email = this.value;
    var url="<%= edit_facebook_path %>"
    $.get(url, {email: email}, function(data) {
      $('#accounts').html(data);
    });
  });
});  
</script>

<div class="content1">
<h1><%= "Facebook Authorization" %></h1>
Environment: <%= Rails.env.to_s %>
<p>This tool is for getting page access token for Facebook pages if the selected
  user (email) has "Page Role" for that page.
</p>
<p>Currently, there are three users, each should have Page Role for various pages</p>
<ul>
<li>ads@bbg.gov</li>
<li>odditech@bbg.gov</li>
<li>oddidev@bbg.gov</li>
</ul>
<p>To get page access tokens for ads@bbg.gov, you need to
<ul>
<li>Run Social Dashboard App locally with:  rails s</li>
<li>Goto page http://ads.localhost.com:3000/facebooks/index.
You need to add to /etc/hosts file with "127.0.0.1 ads.localhost.com"</li>
<li>In the same Web browser, login to Facebook.com with user
ads@bbg.gov.</li>
<li>In the Account dropdown list, select any one account, e.g. voiceofamerica</li>
<li>In the Email dropdown list, select ads@bbg.gov</li>
<li>Click Submit</li>
</ul>
After the process completed, the "Access Toten?" column in the table below will change to Yes
for all the pages the user has "Page Role"
</p>

<p>To get page access tokens for odditech@bbg.gov, you need to
<ul>
<li>Run Social Dashboard App locally with:  rails s staging</li>
<li>Goto page http://ads.localhost.com:3000/facebooks/index</li>
<li>In the same Web browser, login to Facebook.com with user
odditech@bbg.gov.</li>
<li>In the Account dropdown list, select any one account, e.g. voiceofamerica</li>
<li>In the Email dropdown list, select odditech@bbg.gov</li>
<li>Click Submit</li>
</ul>
After the process completed, the "Access Toten?" column in the table below will change to Yes
for all the pages the user has "Page Role"
</p>

<p>To get page access tokens for oddidev@bbg.gov, you need to
<ul>
<li>Login to http://smdata.bbg.gov/facebooks/index</li>
<li>In the same Web browser, login to Facebook.com with user
 oddidev@bbg.gov.</li>
<li>In the Account dropdown list, select any one account, e.g. voiceofamerica</li>
<li>In the Email dropdown list, select oddidev@bbg.gov</li>
<li>Click Submit</li>
</ul>
After the process completed, the "Access Toten?" column in the table below will change to Yes
for all the pages the user has "Page Role"
</p>


<div class="float-left1">
<% if authenticated? %>
  <p><%= link_to "Logout", facebook_path, :method => :delete %></p>
<% elsif @account %>
  <% content_for :head do %>
  <%= stylesheet_link_tag 'projects' %>
  <% end %>

  <dl>
    <dt>JavaScript SDK</dt>
    <dd><fb:login-button length="long" onlogin="location.href = '<%= facebook_path %>'" scope="<%= Facebook.config[:scope] %>"></fb:login-button></dd>
    <dt>Normal OAuth flow</dt>
    <dd><%= link_to "Start", new_facebook_path %></dd>
  </dl>
<% end %>

<h2>Facebook Access Token</h2>
  <% opt=options_for_select(Account.all.map{|c| [c.name,c.id]}.unshift(['--Account--','']))
     sel=ApiToken.select("distinct api_user_email").
       where("canvas_url='#{@uri.host}'").
       map{|c| [c.api_user_email]}.unshift(['--Email--',''])     
     emails=options_for_select(sel)
  %>
  
  <%= form_tag(new_facebook_path, :method=>'get') do %>
  <%= select_tag('account[name]', opt,:multiple => false,:readonly=>true) %>
  <br /><br />
  <%= select_tag('account[email]', emails,:multiple => false,:readonly=>true) %>
  <%= submit_tag "Submit" %>
  <% end %>

</div>
<div class="divide">&nbsp;</div>
<div id="accounts" class="float-left2">
    <%= render :partial=>'account' %>
</div>

<div class="twitter">&nbsp;</div>
<!--
<div class="float-left1">
  <h2>Twitter Access Token</h2>
</div>
</div>
-->
