<style>
.content1 {margin: 10px auto; width: 900px; }
.float-left1 {float: left; width: 250px; }
.divide {float: left;width: 20px;}
.float-left2 {float: left; width: 600px; }
.label1 {display: inline-block; float:left;width: 200px; }
.label2 {display: inline-block; float:left;width: 200px; }
.twitter {clear: both;width: 1px; height: 40px;}
</style>
<script>
$( document ).ready(function() {
  $('#account_email').change(function () {
    var email = this.value;
    var url="<%= edit_facebook_path %>"
    $.get(url, {email: email}, function(data) {
      $('#accounts').html(data);
    });
  });
});  
</script>

<div class="content1">
<h1><%= "Facebook Authorization" %></h1>
<i>Environment: <%= Rails.env.to_s %></i>
<p>Create Facebook Account(s), if you want them to access InSights data,
in accounts table with column 'contact'
set to the app_user_email as in app_tokens table, see below:</p>
<p>
Create entries in app_tokens table with attributes:
<ul>
 
<li>platform: 'Facebook'</li>
<li>app_user_email: the email used to create a Facebook Application
</li>
<li>canvas_url: the domain name for convas_url in Facebook Application, eg. sm.bbg.gov
</li>  
<li>client_id: Facebook App client_id</li>
<li>client_secret: Facebook App client_secret</li>
</ul>
</p>

<p>This tool is for getting page access token for Facebook pages if the selected
  user (email) has "Page Role" for that page.
</p>
<p>The related Facebook Account(s), linked by 'contact' column, then has access to InSights data.
</p> 
<p>Currently, there are three users, each should have Page Role for various pages</p>
<ul>
<li>ads@bbg.gov</li>
<li>odditech@bbg.gov</li>
<li>oddidev@bbg.gov</li>
</ul>
<p>To get page access tokens
<ul>
<li>Login to facebook.com using the email with which a Facebook App is created
</li>
<li>If the Facebook App's Canvas_url is http://ads.localhost.com:3000/ <br />
  Goto page http://ads.localhost.com:3000/facebooks/index.
  *You need to add to /etc/hosts file with "127.0.0.1 ads.localhost.com"</li>

<li>If the Facebook App's Canvas_url is https://smdata.bbg.gov/ <br />
  Goto page https://smdata.bbg.gov/facebooks/index</li>

<li>In the Email dropdown list, select an email, e.g. ads@bbg.gov</li>
<li>Click Submit</li>
</ul>
After the process completed, the "Access Toten?" column in the table below will change to Yes
for all the pages the user has "Page Role"
</p>

<div class="float-left1">
<% if authenticated? %>
  <p><%= link_to "Logout", facebook_path, :method => :delete %></p>
<% elsif @account %>
  <% content_for :head do %>
  <%= stylesheet_link_tag 'projects' %>
  <% end %>

  <dl>
    <dt>JavaScript SDK</dt>
    <dd><fb:login-button length="long" onlogin="location.href = '<%= facebook_path %>'" scope="<%= Facebook.config[:scope] %>"></fb:login-button></dd>
    <dt>Normal OAuth flow</dt>
    <dd><%= link_to "Start", new_facebook_path %></dd>
  </dl>
<% end %>

<h2>Facebook Access Token</h2>
  <%    
     emails=options_for_select(@emails)
  %>
  <%= form_tag(new_facebook_path, :method=>'get') do %>
  <%= select_tag('account[email]', emails,:multiple => false,:readonly=>true) %>
  <%= submit_tag "Submit" %>
  <% end %>

</div>
<div class="divide">&nbsp;</div>
<div id="accounts" class="float-left2">
    <%#= render :partial=>'account' %>
</div>
<div class="twitter">&nbsp;</div>

