<script type='text/javascript'>
  var group = {
    init : function() {
      $("#submit").click(function() {
        var url = $('form[action]').attr('action');
        $('input[name="authenticity_token"]').remove();
        var data = $('#new_group').serialize();
        $.put(url, data, group.done);
        return false;
      });
    },
    done : function(resp){
      var obj = jQuery.parseJSON(resp);
      $('#notice').html(obj.error);
    }
  }
</script>

<%= form_for @group, {:url=>api_group_path, :method=>"put"} do |f| %>
  <div id="notice"></div>
  <%= f.hidden_field :id %><br />
  <%= f.label :name %>
  <%= f.text_field :name %><br />

  <%= f.label :description %>
  <%= f.text_field :description %><br />

  <%= f.label :is_active %>
  <%= f.text_field :is_active %><br />
  
  <%= f.submit "Update", :id=>"submit" %>
<% end %>
<script>
  jQuery(document).ready(function(){
    group.init(); 
  });
</script>