<%= form_for @network, {:url=>api_networks_path} do |f| %>
  <div id="notice"></div>
  <%= f.label :name %>
  <%= f.text_field :name %><br />

  <%= f.label :description %>
  <%= f.text_field :description %><br />

  <%= f.label :is_active %>
  <%= f.text_field :is_active %><br />
  
  <%= f.submit "Create", :id=>"submit" %>
<% end %>
<script>
  jQuery(document).ready(function(){
     network.init(); 
  });
</script>