<!DOCTYPE html>
<html ng-app="radd" ng-controller="AppCtrl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BBG Dash</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <!-- Font Awesome -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <style>
    .message {
      margin-top: 20px;margin-left: 20%;font-size: 16px;
    }
    </style>
</head>
<body class="overflow-hidden">
<div class="wrapper preload">

    <header class="top-nav"  ng-cloak>
        <div class="top-nav-inner">
            <div class="nav-header">
                <!--
                <button type="button" class="navbar-toggle pull-left sidebar-toggle" id="sidebarToggleSM">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                -->
                <ul class="nav-notification pull-right">
                    <li>
                        <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars fa-lg"></i></a>
                        <span class="badge badge-danger bounceIn">1</span>
                        <ul class="dropdown-menu dropdown-sm pull-right user-dropdown" ng-show="loggedInUser">
                            <li class="user-avatar">
                                <!--
                                <img src="images/profile/profile1.jpg" alt="" class="img-circle">
                                -->
                                <div class="user-content">
                                    <h5 class="no-m-bottom">{{ email }}</h5>
                                    <div class="m-top-xs">
                                        <a ng-click="logout('/users/login')" style="cursor: pointer">Logout</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#/faq">
                                    FAQ
                                    <span class="fa fa-file-text-o sm-accounts-icon" style=""></span>
                                </a>
                            </li>
                            <li>
                                <a href="#/accounts">
                                    Social Media Accounts
                                    <span class="fa fa-users sm-accounts-icon" style=""></span>
                                </a>
                            </li>
                            <li>
                                <a href="#/config">
                                    My Configuration
                                    <span class="fa fa-gear settings-icon" style="float:right"></span>
                                </a>
                            </li>
                        </ul>
                        <ul class="dropdown-menu dropdown-sm pull-right user-dropdown" ng-show="!loggedInUser">
                            <li>
                                <a href="#/users/login">Login</a>
                            </li>
                            <li>
                                <a href="#/users/logout">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <a href="{{ headerRedirect }}" class="brand">
                    <i class="fa fa-database"></i><span class="brand-name">BBG Dash</span>
                </a>
            </div>
            <div class="nav-container">
                <div class="pull-right m-right-sm" ng-show="loggedInUser">
                    <div class="user-block hidden-xs">
                        <a href="#/faq">
                            <div class="user-detail inline-block">
                                FAQ
                            </div>
                        </a>
                    </div>
                    <div class="user-block hidden-xs">
                        <a href="" data-toggle="dropdown">
                            <div class="user-detail inline-block">
                                Settings
                                <i class="fa fa-angle-down"></i>
                            </div>
                        </a>
                        <div class="panel border dropdown-menu user-panel">
                            <div class="panel-body paddingTB-sm">
                                <ul>
                                    <li><a href="#/accounts">Social Media Accounts</a></li>
                                    <li><a href="#/config">My Configuration</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="user-block hidden-xs">
                        <a href="" data-toggle="dropdown">
                            <div class="user-detail inline-block">
                                {{ email }}
                                <i class="fa fa-angle-down"></i>
                            </div>
                        </a>
                        <div class="panel border dropdown-menu user-panel">
                            <div class="panel-body paddingTB-sm">
                                <ul>
                                    <li>
                                        <a ng-click="logout('/users/login')" style="cursor: pointer">Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pull-right m-right-sm" ng-show="!loggedInUser">
                    <div class="user-block hidden-xs">
                        <a href="#/users/login">
                            <div class="user-detail inline-block">
                                Login
                            </div>
                        </a>
                    </div>
                    <div class="user-block hidden-xs">
                        <a href="#/users/register">
                            <div class="user-detail inline-block">
                                Register
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div><!-- ./top-nav-inner -->
        <div class="loading-indicator-div" ng-class="{fade: !isLoading}">
            <i class="fa fa-spinner fa-spin loading-indicator"></i>
        </div>
    </header>
    <div class="container">
        <div class="sign-in-wrapper">
           <div class="sign-in-inner message">
           <span style="color: green;"><%= flash[:notice] %></span>
           <span style="color: red;"><%= flash[:error] %></span>
           </div>
        </div>
        <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div ng-view></div>
    </div>
    <footer class="footer" style="margin-left: 0">
	<span class="footer-brand">
	  <strong class="text-danger"><img height="16" src="assets/BBGLogo.png" alt="BBG" style="position: relative; top: -2px"></strong> Dash
	</span>
    </footer>
</div><!-- /wrapper -->

<%= javascript_include_tag "application" %>

<script>
    function loadModal () {
        $('#largeModal').modal('show');
        $('body').on('click','#closeModal', function() {
            $('#largeModal').modal('hide');
        });
    }
</script>
</body>
</html>
