<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title>Facebook Authorization</title>
    <meta property="fb:app_id" content="<%= Facebook.config[:client_id] %>" />
    <!--[if IE]>
    <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%#= stylesheet_link_tag 'base', 'layout', 'gritter', controller_name %>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
    <%= javascript_include_tag 'rails', 'jquery.gritter' %>
    <%= csrf_meta_tag %>
    <%= yield :head %>
  </head>
  <body>
    <div id="fb-root"></div>
    <h1><%#= "Facebook Authorization" %></h1>
    <div class="container">
      <div class="main">
        <%= yield %>
      </div>
      <aside class="sidebar">
        <%#= render :partial => 'layouts/sidebar' %>
      </aside>
    </div>
    <%#= render 'layouts/footer' %>
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    <script>
      FB.init({
        appId: "<%= Facebook.config[:client_id] %>",
        cookie: true,
        xfbml: true,
        oauth: true
      });
    </script>
    <script type="text/javascript">
      $(function () {
       
      });
    </script>
  </body>
</html>